<nav class="navbar-inverse bg-primary">
	<nav class="navbar navbar-toggleable-md navbar-light container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
		        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
		        aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Демо сервиса 1С</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.getCertificates">GetCertificates</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.generateCertificate">GenerateCertificate</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.activate">Activate</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.getCertificate">GetCertificate</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.authenticate">Authenticate</a>
				<a class="nav-item nav-link" ui-sref-active="active" ui-sref="crypto.navigation.sign">Sign</a>
			</div>
		</div>
	</nav>
</nav>
<div class="container" ui-view>

</div>